<div class="container form">
  <h3>Add Patient</h3>
  <%= form_for @patient do |f| %>
      <div>
        <% if @patient.errors.any? %>
            <ul>
              <% @patient.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
              <% end %>
            </ul>
        <%  end %>
        <div class="input-field">
          <%= f.text_field :name %>
          <%= f.label :name %>
        </div>
        <div class="input-field">
          <%= f.text_field :sex %>
          <%= f.label :sex %>
        </div>
        <div class="input-field">
          <%= f.text_field :email %>
          <%= f.label :email %>
        </div>
        <div class="home-container waves-effect waves-light btn-large">
          <%= f.submit %>
        </div>
      </div>

  <% end %>
</div>
